# SEMANA 06
Carlos Granados Pretel

1. Colecciones de Datos

In [2]:
# 1.1 Listas
# Es una coleccion de elemnetos que pueden ser ordenados, modificados, etc.
# Se identifica por los corchetes que muestra la lista
# Ejemplo:
aula=['Yauricasa', 'Granados', 'Alva', 'Laura']
print(aula)

['Yauricasa', 'Granados', 'Alva', 'Laura']

In [3]:
aula

['Yauricasa', 'Granados', 'Alva', 'Laura']

In [4]:
# Podemos extraer cada elemento por su posicion
print(aula[0])
print(aula[1])

Yauricasa
Granados

In [6]:
# Puedo asignar un valor a una posicion de la lista
aula[1]='Chavez'
aula[1]

'Chavez'

In [7]:
# Mostramos como quedó la lista
aula

['Yauricasa', 'Chavez', 'Alva', 'Laura']

In [11]:
# Para agregar un elemneto  utilizamos append
aula.append("Huaman")
aula.append("Huancas")
aula.append("Chavez")

In [15]:
aula

['Chavez',
 'Alva',
 'Laura',
 'Huaman',
 'Huancas',
 'Huaman',
 'Huancas',
 'Chavez',
 'Yauricasa']

In [16]:
# Para eliminar elementos utilizamos remove[]
aula.remove("Yauricasa")
aula

['Chavez', 'Alva', 'Laura', 'Huaman', 'Huancas', 'Huaman', 'Huancas', 'Chavez']

In [17]:
# Si hubiera varios elementos de valores iguales se elimina la primera coincidencia
aula.remove("Chavez")
aula

['Alva', 'Laura', 'Huaman', 'Huancas', 'Huaman', 'Huancas', 'Chavez']

In [19]:
# Eliminar con indice
aula.remove(aula[4])

In [20]:
aula

['Alva', 'Laura', 'Huancas', 'Huaman', 'Huancas', 'Chavez']

In [21]:
# Para obtener el tamaño utilizamos len()
len(aula)

6

In [22]:
# otra opcion para eliminar por indice POSICION
aula.pop(4)

'Huancas'

In [23]:
aula

['Alva', 'Laura', 'Huancas', 'Huaman', 'Chavez']

In [24]:
for alumno in aula:
    print(alumno)

Alva
Laura
Huancas
Huaman
Chavez

In [27]:
# Para Invertir la lista utilizamos reverse()
# Invertir no significa Ordenar de forma decendente sin invertir la lista
aula.reverse()
aula

['Chavez', 'Huaman', 'Huancas', 'Laura', 'Alva']

In [29]:
# Para ordenar uan lista utilizamos sort()
aula.sort()
aula

['Alva', 'Chavez', 'Huaman', 'Huancas', 'Laura']

In [30]:
# 1.2 Tuplas
# Es una coleccion de elementos ordenado(Orddenado significa que tiene un indice) que no se puede modificar.
# Es INALTERABLE
# NO SE PUEDE AGREGAR ELEMENTOS NI ELIMINAR
# SE IDENTIFICAN POR LOS PARENTESIS

tupla_aula=('Granados', 'Julca', 'Cusi', 'Marcos')
tupla_aula

('Granados', 'Julca', 'Cusi', 'Marcos')

In [31]:
# Se puede recorrer con una estructura repetitiva
for alumno in tupla_aula:
    print(alumno)

Granados
Julca
Cusi
Marcos

In [33]:
# Se puede extraer elemnto por su posicion
tupla_aula[2]

'Cusi'

In [34]:
len(tupla_aula)

4

In [35]:
# 1.3 Conjuntos
# Es una colecion de elementos que no esta ordenada(significa que no tiene un indice)
conjunto_aula={'Granados', 'Julca', 'Cusi', 'Marcos'}
conjunto_aula

{'Cusi', 'Granados', 'Julca', 'Marcos'}

In [36]:
# Se puede recorrer utilizando una estructura repetitiva
for alumno in conjunto_aula:
    print(alumno)

Marcos
Cusi
Julca
Granados

In [37]:
# Observacion: No se puede acceder posicion porque no considera indexacion
# Ejemplo:
# conjunto_aula[2] devolvera un mensaje de error

In [38]:
len(conjunto_aula)

4

In [39]:
# PARA AGREGAR UTILIZAMOS LA FUNCION add()
conjunto_aula.add("Motta")

In [40]:
conjunto_aula

{'Cusi', 'Granados', 'Julca', 'Marcos', 'Motta'}

In [41]:
# Eliminar elemento de un conjunto:
conjunto_aula.remove("Granados")

In [42]:
conjunto_aula

{'Cusi', 'Julca', 'Marcos', 'Motta'}

In [43]:
# 1.4 Diccionno 
# Es una coleccion de elemntos que estan indexados, no estan ordenados, y se pueden modificararios
# Son escritos entre llaves y estna formados po pares de elementos INDICE:VALOR
diccionario_aula={2:'Cusi', '1':'Julca', 'dos':'Marcos', '0':'Motta'}
diccionario_aula

{2: 'Cusi', '1': 'Julca', 'dos': 'Marcos', '0': 'Motta'}

In [45]:
diccionario_aula['0']

'Motta'

In [46]:
diccionario_aula[2]

'Cusi'

In [47]:
diccionario_aula["dos"]

'Marcos'

In [48]:
diccionario_aula['20']="Cerna"
diccionario_aula

{2: 'Cusi', '1': 'Julca', 'dos': 'Marcos', '0': 'Motta', '20': 'Cerna'}

In [49]:
# Para eliminar un valor se utiliza pop()
# por ek¿jemplo eliminar el elemneto de indice 2
diccionario_aula.pop(2)

'Cusi'

In [50]:
diccionario_aula

{'1': 'Julca', 'dos': 'Marcos', '0': 'Motta', '20': 'Cerna'}

In [51]:
# Tambien se puede eliminar utilizando la funcion del()
del(diccionario_aula["dos"])
diccionario_aula

{'1': 'Julca', '0': 'Motta', '20': 'Cerna'}

In [54]:
# Para recorrer todos los elementos utilizamos for
# Ejemplo: devuelve indices
for indice in diccionario_aula:
    print(indice)

1
0
20

In [55]:
for indice, valor in diccionario_aula.items():
    print(indice, valor)

1 Julca
0 Motta
20 Cerna

In [56]:
# 1.5 Ejercicio:
# Ddo una lista ALANYA ALVA AZAÑERO CARRASCO CCACCYA COSME CUSI DIAZ FLORES GOMEZ GOMEZ GRANADOS HUANCASJULCA LAURA MOTTA PINEDO PONCE QUINTANARODRIGUEZ SERNA VILCA YAURICASA
# Diseñar un codigo que muestre si el apellido de un estudiantes ingresado por teclado forma parte de la lista

In [63]:
alumnos=['ALANYA', 'ALVA', 'AZAÑERO', 'CARRASCO', 'CCACCYA', 'COSME', 'CUSI', 'DIAZ', 'FLORES', 'GOMEZ', 'GOMEZ', 'GRANADOS', 'HUANCAS', 'JULCA', 'LAURA', 'MOTTA', 'PINEDO', 'PONCE', 'QUINTANA', 'RODRIGUEZ', 'SERNA', 'VILCA', 'YAURICASA']
print("Ingresar apellido:")
apellido = input()
apellido in alumnos

Ingresar apellido:
GRANADOS

True